#clock-widget {
  margin: 20px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#clock-info {
  display: block;
  margin: 10;

}

#tabs-widget {
  margin: 20px;
}

#tabs-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
