#clock-widget {
  margin: 20px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#clock-info {
  display: block;
  margin: 10;

}

#tabs-widget {
  margin: 20px;
}

#tabs-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tabs-select > li {
  margin: 10px;
  border: 1px solid #000000;
}

#tabs-widget > div {
  margin: 20px;
}

#tabs-widget > div > h1{
  text-align: center;
}
